@import '/node_modules/reset-css/reset.css';

@font-face {
  font-family: 'Apercu';
  src: url('../public/ApercuMono.otf') format('opentype');
}

/* theme background gradients */
$theme: linear-gradient(to right bottom, #051937, #004d7a, #008793, #00bf72, #a8eb12);
$light: linear-gradient(to right bottom, #d44000, #d30033, #c30056, #a00076, #69008e);
$dark: linear-gradient(to right bottom, #373737, #434343, #4e4e4e, #5b5b5b, #676767);
$sunset: linear-gradient(to right bottom, #051937, #532a5c, #a43661, #de5c46, #eb9f12);
/* text sizes */
$xxl: 5.063rem;
$xl: 3.375rem;
$lg: 2.25rem;
$md: 1.5rem;
$nm: 1rem;
$sm: 0.66rem;

body {
  font-size: 16px;
  font-family: 'Apercu', 'Segoe UI', 'Roboto', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  line-height: 1.5;
  color: azure;

  background-image: $sunset;
  background-repeat: no-repeat;
  background-attachment: fixed;

  text-shadow: rgba($color: #000000, $alpha: 0.8) 0 0 0.5rem;
}

a {
  color: azure;
  text-decoration: none;
}

a:hover {
  color: orange;
}

nav {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;

  h1 {
    font-size: $xl;
    font-weight: bold;
    align-self: baseline;
    margin: 1rem 0;
  }

  div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 2rem;

    /* keep on top even if scrolled down */
    position: sticky;
    top: 2rem;
    padding-top: 1rem;

    a {
      color: whitesmoke;
      font-size: $nm;
    }
  }
}

main {
  columns: 1;
  margin-bottom: 5rem;

  @media (min-width: 768px) {
    columns: 2;
  }

  h1 {
    display: none;
  }

  h3 {
    font-size: $md;
    margin: 1rem 0;
  }
}

footer {
  display: flex;
  flex-direction: row;
  gap: 4rem;
  padding: 2rem 1rem;
  font-size: $sm;
  background-color: rgba($color: #000000, $alpha: 0.8);
  border-top: 3px solid orange;
}
